<!DOCTYPE html>
<html lang="{{- site.Language.Lang -}}">
<meta http-equiv="Content-Security-Policy" content="base-uri 'self'; connect-src 'self'; default-src 'self'; font-src 'self' https://cdnjs.cloudflare.com?; frame-src 'self'; img-src 'self'; manifest-src 'self'; media-src 'self'; object-src 'none'; script-src 'report-sample' 'self' https://www.googletagmanager.com/gtag/js; style-src 'report-sample' 'self' https://cdnjs.cloudflare.com; worker-src 'none'">
<meta http-equiv="Referrer-Policy" content="strict-origin">
<meta http-equiv="X-Content-Type-Options" content="nosniff">
<meta http-equiv="X-Frame-Options" content="DENY">
<meta http-equiv="X-XSS-Protection" content="1; mode=block">

    <head>
        {{- partial "head.html" . -}}
        {{ template "_internal/google_analytics.html" . }}
    </head>

    <body>
        <div class="page">

            <header class="page__header">
                {{- partial "header.html" . -}}
            </header>

            <section class="page__body">
                {{- block "main" . }}{{- end }}
            </section>

            <section class="page__aside">
                <div class="aside__about">
                    {{- partial "about.html" . -}}
                </div>
                <hr>
                <div class="aside__content">
                    {{- block "aside" . }}{{- end }}
                </div>
            </section>

            <footer class="page__footer">
                {{- partial "footer.html" . -}}
            </footer>

        </div>
    </body>

</html>
